/* Removes any default padding or margin from all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App colors */
:root {
  --darkAqua: #6b7f82;
  --grey: #8e9799;
  --smokeGrey: #6f6c6c;
  --smokeGreyBrown: #5b5750;
  --maroon: #553739;
  --bearBrown: #492c1d;
  --smokeBrown: #232020;
}

.greyColor {
  color: var(--grey);
}

.whiteColor {
  color: white;
}

.background-6 {
  background: var(--darkAqua);
}

.background-5 {
  background: linear-gradient(180deg, var(--darkAqua) 0%, var(--smokeGrey) 40%);
  background-size: 400% 400%;
}

.background-4 {
  background: linear-gradient(
    180deg,
    var(--smokeGrey) 0%,
    var(--smokeGreyBrown) 40%
  );
  background-size: 400% 400%;
}

.background-3 {
  background: linear-gradient(
    180deg,
    var(--smokeGreyBrown) 0%,
    var(--maroon) 40%
  );
  background-size: 400% 400%;
}

.background-2 {
  background: linear-gradient(180deg, var(--maroon) 0%, var(--bearBrown) 40%);
  background-size: 400% 400%;
}

.background-1 {
  background: linear-gradient(
    180deg,
    var(--bearBrown) 0%,
    var(--smokeBrown) 40%
  );
  background-size: 400% 400%;
}

.background-0 {
  background: var(--smokeBrown);
  background-size: 400% 400%;
}

.game-text {
  font-size: 30px;
}

.game-text-lg {
  font-size: 40px;
}

@media only screen and (max-width: 576px) {
  .game-text {
    font-size: 25px;
  }
}